.Footer {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.githubLink {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 1rem;
  margin-right: 0.3rem;
}
